.navbar-brand,.drop-down-icon {
    color: #fff;
}

.logo {

    font-family: 'Monoton', cursive;
    font-size: x-large;
}

.navbar-nav > li{
  padding-left:12px;
  padding-right:12px;
}

td {
        width: 250px;
        text-align: center;
        border: 2px solid black;
        padding: 10px;
      }

.table-container {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 4rem;
}




.welcome-box {
    
    height: 27em;
    margin-top: 4em;
    
     color: #fff;
    background-color: #fff; 
    border-radius: 20px;
    
}

.container {
    /* height: 100%; */
    display: flex;
    justify-content: center;
    align-items: center;
}

.welcome-tag {
    color: #007bff;
    display: flex;
    justify-content: center;
    padding-top: 2rem;
    font-family: 'Rubik', sans-serif;
    font-size: 3.5rem;

}

.adcb-logo {
    font-family: 'Monoton', cursive;
    color: black;
    padding-top: 2rem;
    font-size: 3.5rem;

}




@media only screen and (max-width: 600px) {
    .welcome-tag {
    color: #007bff;
    display: flex;
    justify-content: center;
    padding-top: 2rem;
    font-family: 'Rubik', sans-serif;
    font-size: 2rem;

}

    .adcb-logo {
    font-family: 'Monoton', cursive;
    color: black;
    padding-top: 2rem;
    font-size: 3rem;

}

    .desc {

        text-align: center;
        font-size: larger;
    }



   
    
}
 


@media only screen and (device-width: 768px) {
    .desc {

        text-align: center;
    }

    
}

