{% extends "layout.html" %}

{% block content %}


<section>
    <div class="row">

        <div class="container">
            <div class="col-md-6 col-8 welcome-box shadow-lg">

                <h1 class=welcome-tag>Welcome</h1>
                <h3 class="text-muted" style="display: flex;justify-content: center;">To</h3>
                <h2 class=adcb-logo style="display: flex;justify-content: center;">ADCB</h2>
                <h2 class="text-muted pt-3 desc" style="display: flex;justify-content: center;text-align: center;">
                    Online Banking Portal
                </h2>





                <a href="{{url_for('customers')}}" style="text-decoration: none;"><button type="button cust-but"
                        class="btn btn-primary btn-lg btn-block">View
                        Customers</button></a>







            </div>

        </div>

    </div>

    </div>
</section>


{% endblock content %}