{% extends "layout.html" %}

{% block content %}
<div class="table-container">

    <table>
        <thead>
            <tr>
                <th style="text-align: center;">Customer ID</th>
                <th style="text-align: center;">Name</th>
                <th style="text-align: center;">Age</th>
                <th style="text-align: center;">E-mail</th>
                <th style="text-align: center;">Current Account Balance</th>
            </tr>
        </thead>
        <tbody style="background-color: #e4fbff;">
            {% for row in customer %}
            <tr>
                <td>{{row[0]}}</td>
                <td>{{row[1]}}</td>
                <td>{{row[2]}}</td>
                <td>{{row[3]}}</td>
                <td>{{row[4]}}</td>

            </tr>
            {% endfor %}
        </tbody>
        
    </table>


</div>

<div style="display: flex; justify-content: center; margin-top: 2rem;">
    <a href="{{url_for('transfer')}}"><button>Transfer cash from this account</button></a>
</div>



{% endblock content %}